<ion-header>
  <ion-toolbar>
    <div class="header-title">
      SLET TØJ
    </div>
    <ion-buttons slot="end" style="z-index: 20;">
      <ion-button class="luk-knap" (click)="dismissModal()">
        <ion-icon name="close-outline" size="large"></ion-icon>
        Luk
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    Er du sikker på at du vil slette dette tøj?
  </div>
  <ion-button color="danger" (click)="deleteCloth()">SLET</ion-button>
</ion-content>