ion-col {
    //background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    margin: 0;
  }
  ion-card-title{
    font-size: 15px;
  }
  ion-card{
    background-color: #efe8de;
    margin: 0;
  }
  