<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mit tøj </ion-title>
  </ion-toolbar>
  <ion-searchbar
    animated="true"
    placeholder="Søg efter tøj..."
    [debounce]="1000"
    (ionInput)="handleInput($event)"
  ></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--   <ion-list>
    <ion-item *ngFor="let result of results">
      <ion-label>{{ result }}</ion-label>
    </ion-item>
  </ion-list> -->

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>Jakke</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="Jakke" src="../../assets/Images/png/1-jacket.png" />
          </ion-card-content> </ion-card
      ></ion-col>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>Hat</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="Hat" src="../../assets/Images/png/hat-1.png" />
          </ion-card-content> </ion-card
      ></ion-col>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>Sko</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="Sko" src="../../assets/Images/png/1-shoe.png" />
          </ion-card-content> </ion-card
      ></ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>Jakke</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="Jakke" src="../../assets/Images/png/2-jacket.png" />
          </ion-card-content> </ion-card
      ></ion-col>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>Bukser</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="Bukser" src="../../assets/Images/png/black-pants.png" />
          </ion-card-content> </ion-card
      ></ion-col>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>T-shirt</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="T-shirt" src="../../assets/Images/png/green-tshirt.png" />
          </ion-card-content> </ion-card
      ></ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>Sko</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="Sko" src="../../assets/Images/png/2-shoe.png" />
          </ion-card-content> </ion-card
      ></ion-col>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>Bukser</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="Bukser" src="../../assets/Images/png/natur-pants.png" />
          </ion-card-content> </ion-card
      ></ion-col>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>T-shirt</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="T-shirt" src="../../assets/Images/png/sort-tshirt.png" />
          </ion-card-content> </ion-card
      ></ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>Hat</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="T-shirt" src="../../assets/Images/png/hat-2.png" />
          </ion-card-content> </ion-card
      ></ion-col>
      <ion-col
        ><ion-card>
          <ion-card-header>
            <ion-card-title>T-shirt</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="T-shirt" src="../../assets/Images/png/white-tshirt.png" />
          </ion-card-content> </ion-card></ion-col
      ><ion-col> ></ion-col>
    </ion-row>
  </ion-grid>
  <!-- <app-explore-container name="Tab 1 page"> </app-explore-container> -->
</ion-content>
