ion-grid {
  --ion-grid-columns: 3;
}

ion-icon {
  font-size: 40px;
}

ion-fab-button {
  margin: 15px;
  --background: var(--groen) !important;
  --color: var(--creme);
}

ion-toolbar {
  --background: #EFE8DE;
}

ion-header {
  --background: #EFE8DE;
}

// form {
//   ion-button {
//     display: flex;
//     justify-content: space-between;
//     margin: 0.5rem;
//     --background: #468e23;
//   }

//   div {
//     color: red;
//   }
// }

#button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// for the filtertags
.scrollDiv {
  white-space: nowrap;
  overflow-x: scroll !important;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.scrollDiv::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for Firefox */
.scrollDiv {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.filter-options {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 20px;
  margin: 4px;
  background-color: var(--ion-color-light);
  color: var(--ion-color-dark);
  font-size: 14px;
}