ion-card {
  padding: 4px;
  border: none;
  box-shadow: none;
  margin: 5px;

  img {
    height: 130px;
    width: auto;
    object-fit: cover;
    object-position: 50% 50%;
  }

  ion-card-header {
    padding: 8px;

    div {
      font-size: 16px;
      height: 2em;
      line-height: 1em;
      overflow: hidden;
    }
  }
}