<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="clothes">
      <ion-icon aria-hidden="true" name="body-sharp"></ion-icon>
      <ion-label>Mit tøj</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="shirt-sharp"></ion-icon>
      <ion-label>DressMeUp</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="people-sharp"></ion-icon>
      <ion-label>Social</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
