<ion-header>
  <ion-toolbar>
    <div class="header-title">
      {{ clothes.Name }}
    </div>

    <ion-buttons slot="end" style="z-index: 20;">
      <ion-button class="luk-knap" (click)="closeModal(false)">
        <ion-icon name="close-outline" size="large"></ion-icon>
        Luk
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <!-- Display cloth details here -->
  <p>Type: {{ clothes.ClothesType | type: clothes.ClothesType }}</p>
  <p>CreatedAt: {{ clothes.CreatedAt | date: "dd-MM-yyyy"}}</p>
  <p>UpdatedAt: {{ clothes.UpdatedAt | date: "dd-MM-yyyy" }}</p>

  <p>Brand: {{ clothes.Brand }}</p>
  <!-- Add more details as needed -->

  <ion-img [src]="clothes.Image"></ion-img>
  
    <ion-button (click)="deleteCloth()" color="danger">Slet tøj</ion-button>
  
</ion-content>