.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    position: relative;
  
    .arrow {
      position: absolute;
      top: 50%;
      font-size: 30px;
      cursor: pointer;
      color: #000;
      z-index: 2;

      &.left {
        left: 10px;
      }
  
      &.right {
        right: 10px;
      }
    }
  
    img {
      z-index: 1;
      max-width: 100%;
      max-height: 100%;
    }
  }



  