<div
  class="container"
  (touchstart)="startPressTimer()"
  (touchend)="clearPressTimer($event)"
  (touchcancel)="clearPressTimer($event)"
>
  <div style="display: flex; justify-content: center; align-items: center">
    <ion-icon style="top: auto; margin-left: 30px" name="arrow-back-outline" class="arrow left"
      (click)="loadPreviousImage()" *ngIf="isSelected == false" #leftArrow></ion-icon>
  </div>
  <img id="cloth-image-id" style="height: 200px" [src]="clothes[currentImageIndex].Image" [class.selected]="isSelected"
    #image />

  <img *ngIf="isSelected" class="checkmark" src="../../../assets/chechmark.png" />
  <div style="display: flex; justify-content: center; align-items: center">
    <ion-icon style="top: auto; margin-right: 30px" name="arrow-forward-outline" class="arrow right"
      (click)="loadNextImage()" *ngIf="isSelected == false" #rightArrow></ion-icon>
  </div>
  <audio #audioPlayer>
    <source src="path/to/sound-clip.mp3" type="audio/mpeg">
  </audio>

</div>